<div class="bg" style="margin-top: 80px;">
  <mat-spinner *ngIf="isSpinning" [diameter]="50" class="spinner"></mat-spinner>
  <div class="parent">
    <div class="child">
      <h1 class="form-title">Leave</h1>
      <form [formGroup]="validateForm" class="login-form">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Subject</mat-label>
          <input matInput type="text" placeholder="Subject" formControlName="subject">
          <mat-error *ngIf="validateForm.get('subject')?.hasError('required')">This input is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Body</mat-label>
          <input matInput type="text" placeholder="Body" formControlName="body">
          <mat-error *ngIf="validateForm.get('body')?.hasError('required')">This input is required</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="validateForm.invalid" (click)="applyLeave()">Submit</button>
      </form>
    </div>
  </div>
</div>
