<div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" *ngIf="student">
  <mat-card class="student-card">
    <mat-card-header style="background-color: #3f5185;">
      <mat-card-title style="color: white;"><strong>{{student.name}}</strong></mat-card-title>
      <mat-card-subtitle style="color: white;">Class:<strong>{{student.studentClass}}</strong></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="margin-top: 10px;">
      <p>Email:<strong>{{student.email}}</strong></p>
      <p>Father Name:<strong>{{student.fatherName}}</strong></p>
      <p>Mother Name:<strong>{{student.motherName}}</strong></p>
      <p>Gander:<strong>{{student.gander}}</strong></p>
      <p>Date of Birth:<strong>{{student.dob}}</strong></p>
      <p>Address:<strong>{{student.address}}</strong></p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent" [routerLink]="['/student/update']">Update</button>
    </mat-card-actions>
  </mat-card>
</div>
