<div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
  <mat-card class="student-card" *ngFor="let leave of leaves">
    <mat-card-content style="margin-top: 10px;">
      <p>Subject:<strong>{{ leave.subject}}</strong></p>
      <p>Body:<strong>{{ leave.body}}</strong></p>
      <p>Date:<strong>{{ leave.date}}</strong></p>
      <p>Status:
        <strong [ngStyle]="{'color':leave.studentLeaveStatus === 'APPROVED' ? 'green' : leave.studentLeaveStatus === 'DISAPPROVED' ? 'blue':'red'}">
          {{ leave.studentLeaveStatus}}</strong></p>
    </mat-card-content>
  </mat-card>
</div>
